body {
  background-image: url("brmmoney_graffiti_bg.jpg");
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

body,
body p,
body li,
body h1,
body h2,
body h3,
body h4,
body span,
body label,
body strong {
  color: #fff !important;
}
